@charset "utf-8"/* 
/* CSS Document */

Filename: tss_styles.css

Nav {background-color:}
Body{background-color: lightcyan;}
    
h1{color: lightslategray;test-align:center;}
Nav {background-color: silver}

p{font-family: verdana;
font-size: 20px;
}
*/